body {
    font-family: 'Montesserat';
    color:#2c3e50;
    overflow-y: auto;
    overflow-x: hidden;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    min-height: calc(100vh - 100px);
}

.hidden {
    visibility: hidden;
    position: absolute;
    /* z-index: -1; */
}

button:focus, input[type="submit"]:focus{
    /* border: none; */
    appearance: none;
    outline: none;
}

.main {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 600px;
    align-items: center;
    margin: 20px 30px;
}

.main .statistics {
    display: flex;
    flex-direction: column;
    /* height: 200px; */
    justify-content: spase-around;
    margin-bottom: 20px;
    width: calc(100% - 4px);
    border-radius: 5px;
    align-items: center;
    border: 2px solid #34495e;
    padding: 20px 0;
}

.main .statistics .col {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    justify-content: center;
}

.main .statistics .col:not(:last-child) {
    margin-bottom: 20px;
}
.main .statistics .col .num {
    font-size: 40px;
    line-height: 60px;
    font-weight: 600;
}

.main .btn-panel {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    /* height: 240px; */
    margin-bottom: 50px;
} 

.main .btn-panel .btn{
    width: 40%;
    height: 60px;
    flex-grow: 1;
    margin-bottom: 20px;

    padding: 0;
    border: none;
    border-radius: 5px;
    background-color: #34495e;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
}

.main .btn-panel .btn:nth-child(2n+1) {
    margin-right: 20px;
}

.main .btn-panel .btn:hover {
    background-color: #3498db;
}


form, .form-box, .input-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-box {
    box-sizing: border-box;
    
    justify-content: space-between;
    /* min-height: 320px; */
}

.form-box form {
    border: 2px solid #34495e;
    padding: 20px;
    border-radius: 5px;
}

.form-box .title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #34495e;
    color: white;
    height: 60px;
    font-size: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.form-box .input-box {
    margin-bottom: 40px;
    /* min-height: 100px; */
}

.form-box .input-box .input-text-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form-box .input-box label {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
    
}
.form-box .input-box input[type="text"] {
    border: 2px solid #34495e;
    border-radius: 5px;
    padding: 10px;
    line-height: 20px;
    font-size: 16px;
    
    background-color: none;

    transition: border-color 0.3s ease-in-out;
}

.form-box .input-box input[type="text"]:hover,
.form-box .input-box input[type="text"]:focus {
    border-color: #3498db;
}
.form-box input[type="submit"]{
    text-transform: uppercase;
    border: none;
    background-color: #34495e;
    color: white;
    height: 60px;
    font-size: 20px;
    border-radius: 5px;

    transition: background-color 0.3s ease-in-out;
}

.form-box input[type="submit"]:hover {
    background-color: #3498db;
}

#come-back {
    align-self: flex-start;
    border: none;
    appearance: none;
    outline: none;

    background-color: #34495e;
    line-height: 24px;
    font-size: 15px;
    color: white;
    border-radius: 3px;
    padding: 3px 20px;
    margin-bottom: 20px;

    transition: background-color 0.3s ease-in-out;
}

#come-back:hover {
    background-color: #3498db;
}

#one-input-form .label {
    height: 20px;
}

.input-box #del-category-select {
    display: flex;
    flex-direction: column;
    border: 2px solid #34495e;
    border-radius: 5px;
    margin-bottom: 20px;
}

#del-category-select .option {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* padding: 5px 0; */
}

#del-category-select .option label {
    width: 100%;
    padding: 5px 0;
    font-size: 18px;
    display: flex;
    justify-content: center;
    /* align-items: baseline; */
    background-color: white;
    color: #34495e;
    margin: 0;
    transition: color 0.2s, background-color 0.2s ease-in-out;
}

#del-category-select .option input:checked + label {
    color: white;
    background-color: #34495e;
}

#question-box {
    display: flex;
    flex-direction: column;
}

#question-box .question {
    font-size: 18px;
    line-height: 27px;
    /* font-weight: 500; */
}

.form-box .error {
    border: 2px solid #e74c3c;
    border-radius: 5px;
    border-right: 4px solid #e74c3c;
    border-left: 4px solid #e74c3c;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    min-height: 24px;
    margin-bottom: 20px;
}

.disable {
    background-color: #7f8c8d !important;
}
.disable:hover {
    background-color: #7f8c8d !important;
}

.form-box .input-box .option-box div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0;
}

.form-box .input-box .option-box div input {
    margin-right: 10px;
}