.header-box {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #34495e;
    display: flex;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.5);
}

.header {
    display: flex;
    width: 50%;
    min-width: 600px;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

.header a {
    color: white;
    text-decoration: none;
}

.logo a {
    font-size: 20px;
    font-family: 'Montserrat';
    text-decoration: none;
    margin: 0 5px;
}

.profile {
    display: flex;
}

.profile .login {
    margin-right: 20px;
}

#header-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 0 0 5px;
    box-sizing: border-box;
    /* min-width: 200px; */
}

#username {
    font-family: 'Roboto Mono';
    font-size: 16px;
    line-height: 39px;
    color: white;
    padding: 0 2.5px 0 2.5px;
    box-sizing: border-box;
    width: inherit;
    text-align: center;
    transition: backround-color 0.2s, color 0.2s ease-in-out;
}

#menu {
    position: absolute;
    top: 40px;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    width: inherit;
    background-color: #34495e;
    /* border: 2px solid #34495e; */
    border-radius: 0 0 5px 5px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2), -4px 4px 5px rgba(0, 0, 0, 0.2);
    /* box-sizing: border-box; */

    transform-origin: 0 0;
    transform: scaleY(0);
    transition: transform 0.2s ease-in-out;
}

#menu div {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    padding: 5px 0;
    box-sizing: border-box;
    transition: background-color 0.2s, color 0.2s ease-in-out;
}

#menu a:last-child div {
    margin: 0;
    border-radius: 0 0 5px 5px;
}

#username:hover,
#menu div:hover,
#menu:hover + #username {
    color: #34495e;
    background-color: white;
}

#username:hover + #menu,
#menu:hover {
    transform: scaleY(1);
}