body {
    font-family: 'Montesserat';
    color:#2c3e50;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    min-height: calc(100vh - 270px);
}

.main {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 600px;
    align-items: center;
    margin: 20px 30px;
}

.add-post {
    width: 100%;
    margin: 60px 0 20px 0;
}
.add-post div{
    margin: 10px 0 10px 0;
    width: calc(100% - 4px);
    height: 50px;
    border: 2px solid #34495e;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #34495e;
    color: white;
    transition: background-color 0.3s, border-color 0.3s ease-in-out;
    
}

.add-post a {
    text-decoration: none;
    font-size: 26px;
    font-weight: 500;
}

.add-post div:hover {
    background-color: #3498db;
    border-color: #3498db;
}

form {
    display: flex;
    width: 100%;
    justify-content: space-between;   
    border-radius: 5px;
    margin-top: 20px;
}

#category-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border: 2px solid #34495e;
    border-radius: 5px;
    width: 150px;
    margin-right: 20px;
    background-color: white;
    box-sizing: border-box;
}

#category-select .checked-field {
    text-align: center;
    width: inherit;
    font-size: 16px;
    line-height: 24px;
}

#category-select .options {
    width: inherit;
    position: absolute;
    top: calc(40px + 40px + 50px + 20px + 20px + 40px + 3px);

    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: white;
    border: 2px solid #34495e;
    border-radius: 5px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2), -4px 4px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    transform-origin: 0 0;
    transform: scaleY(0);
    transition: transform 0.3s ease-in-out;
}

#category-select .checked-field:hover + .options, 
#category-select .options:hover {
    transform: scaleY(1);
}

#category-select .option {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    padding: 5px 0;
    font-size: 15px;
    width: 100%;
    height: 30px;
    background-color: white;
    transition: background-color 0.2s, color 0.2s ease-in-out;
}

#category-select .option:first-child {
    border-radius: 2.5px 2.5px 0 0 ;
}

#category-select .option:last-child {
    border-radius: 0 0 2.5px 2.5px;
}

#category-select .option:hover {
    color: white;
    background-color: #34495e;
}

#category-select .option label {
   width: inherit;
   height: inherit;
   display: flex;
   justify-content: center;
   align-items: center;
}

input[type="radio"] {
    display: none;
}

input {
    border: 2px solid #34495e;
    border-radius: 5px;
    padding: 0 20px;
    flex-grow: 1;
    font-size: 15px;
}

.posts {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width: 100%;
}

.post {
    margin-top: 20px;
    border: #34495e solid 2px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.post.not-found {
    border-color: #e74c3c;
    color:#e74c3c;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 30px;
}

.post .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
}

.post a.author-link {
    color: #9b59b6;
    
    text-decoration: none;
    transition: color 0.2s ease;
}

.post a.author-link:hover {
    color: #8e44ad;
}
.post .author {
    font-family: 'Roboto Mono';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.post .date {
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 10px;
}
    
.post .content {
    font-size: 16px;
    line-height: 24px;
    word-wrap: break-word;
    white-space: pre-wrap;
    max-height: calc(6 * 24px);
    width: inherit;
    overflow: hidden;
    text-overflow: clip;
    margin-bottom: 20px;
}
.post .buttons {
    display: flex;
    align-self: stretch;
    justify-content: space-between;
}

.post .btn {
    border: none;
    appearance: none;
    outline: none;

    background: #34495e;
    line-height: 24px;
    font-size: 15px;
    color: white;
    border-radius: 3px;
    padding: 3px 20px;
    margin-right: 5px;

    transition: background-color 0.3s ease-in-out;
}

.post div .btn:last-child {
    margin: 0;
}
.post .btn:hover {
    background: #2c3e50;
}

#flash-message {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    /* text-align: center; */
    background-color: #e74c3c;
    color: white;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.flash-box {
    height: inherit;
    width: 50%;
    min-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flash-box button {
    border: none;
    appearance: none;
    outline: none;
    border-radius: 5px;
    background-color: white;
    color: #e74c3c;
    font-size: 14px;
    font-weight: 600;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}

.flash-box button:focus {
    border: none;
    appearance: none;
    outline: none;
}

.flash-box button:hover{
    background-color: #ecf0f1;
}