
.post {
    margin-top: 20px;
    border: #34495e solid 2px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.post-head {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.post.not-found {
    border-color: #e74c3c;
    color:#e74c3c;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 30px;
}

.post .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 10px;
}

.post a.author-link {
    color: #9b59b6;    
    text-decoration: none;
    transition: color 0.2s ease;
}

.post a.author-link:hover {
    color: #8e44ad;
}
.post .author {
    font-family: 'Roboto Mono';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.post .date {
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 10px;
}
    
.post .content {
    font-size: 16px;
    line-height: 24px;
    word-wrap: break-word;
    white-space: pre-wrap;
    /* max-height: calc(6 * 24px); */
    /* text-indent: 20px; */
    align-self: stretch;
    width: 100%;
    overflow: hidden;
    text-overflow: clip;
    margin-bottom: 30px;
}
.post-buttons {
    display: flex;
    align-self: stretch;
    justify-content: space-between;
}

.post-buttons  .btn {
    border: none;
    appearance: none;
    outline: none;

    background: #34495e;
    line-height: 24px;
    font-size: 15px;
    color: white;
    border-radius: 3px;
    padding: 3px 20px;
    margin-right: 5px;

    transition: background-color 0.3s ease-in-out;
}

.post-buttons  div .btn:last-child {
    margin: 0;
}
.post-buttons .btn:hover {
    background: #3498db;
}

.post-buttons .copy-link-btn {
    position: relative;
    display: inline-block;
}
.post-buttons .copy-link-btn .hovertext{
    visibility: hidden;
    background-color: #34495e;
    color: white;
    height: 24px;
    width: 90px;
    font-size: 15px;
    text-align: center;
    border-radius: 2.5px;
    padding: 3px 10px;
    position: absolute;
    z-index: 1;
    bottom: 40.5px;
    left: 13px;  
    margin-left: -55px;
    opacity: 0;
    text-transform: none;
    transition: background-color 0.2s,  opacity 0.4s;
}
.post-buttons  .copy-link-btn:hover .hovertext {
    visibility: visible;
    opacity: 1;
}

.post-buttons .hovertext.clicked {
    width: 82px;
    transform: translateX(8px);
    background-color: #8e44ad;
}

