body {
    font-family: 'Montesserat';
    color: #34495e;
}

main {
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    /* min-height: calc(100vh - 270px); */
}

.main h1 {
    font-size: 38px;
    line-height: 57px;
    font-weight: 500;
}

.main h2 {
    font-size: 32px;
    line-height: 48px;
    font-weight: 500;
}

.main h3 {
    font-size: 26px;
    line-height: 39px;
    font-weight: 500;
}

.main h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}
.main {
    display: flex;
    flex-direction: column;
    width: 60%;
    min-width: 800px;
    align-items: stretch;
    margin: 20px 30px;
}

input.copy-link {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.hidden {
    display: none !important;
}

.non-visible {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.post {
    margin-bottom: 30px;
}
.post-comments {
    border-radius: 5px;
    /* border: #34495e solid 2px; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* padding: 20px; */
}

.post-comments .comment-form {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 2px solid #34495e;
    padding: 10px;
    margin-bottom: 20px;
}

.comment-form div {
    display: flex;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.comment-form .counter {
    font-size: 14px;
}

.post-comments .comment-form textarea {
    appearance: none;
    border: none; 
    outline: none;

    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    resize: none;
    font-size: 15px;
    line-height: 24px;
    min-height: 72px;
    height: 72px;
    border-bottom: 2px solid #34495e;
    overflow: hidden;
    transition: all 0.3s linear;
}

.post-comments .comment-form textarea.error{
    border-bottom: 2px solid #e74c3c !important;
}

.post-comments .comment-form textarea:focus, 
.post-comments .comment-form textarea:hover {
    appearance: none;
    outline: none;
    border-bottom-color: #3498db;
}

.post-comments .comment-form input[type="submit"] {
    width: 100px;
    height: 36px;
    border: none;
    appearance: none;
    outline: none;
    margin-right: -1px;
    border-radius: 3px;
    align-self: flex-end;
    background-color: #34495e;
    color: white;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montesserat';
    opacity: 1;
    transition: color 0.3s, background-color 0.3s, opacity 0.3s linear;
}

.post-comments .comment-form input[type="submit"]:disabled {
    opacity: 0.8 !important;
}

.post-comments .comment-form input[type="submit"]:focus {
    appearance: none;
    outline: none;
    border: none;
}

.post-comments .comment-form input[type="submit"]:hover:not(:disabled)
{
    color: white;
    background-color: #3498db;
}

.post-comments .comment-list {
    display: flex;
    flex-direction: column;
}

.post-comments .comment {
    display: flex;
    flex-direction: column;
    border: 2px solid #34495e;
    border-radius: 5px;
    padding: 20px;
}

.post-comments .comment-list .comment:not(:last-child) {
    margin-bottom: 20px;
}

.post-comments .comment-header {
    display: flex;
    height: 18px;
    align-items: baseline;
    margin-bottom: 5px;
}

.post-comments .comment-header div:not(:last-child),
.post-comments .comment-footer div:not(:last-child) {
    margin-right: 10px;
}

.post-comments .username, 
.post-comments .replied-comment-author {
    color: #9b59b6; 
}

.post-comments .username:hover, 
.post-comments .replied-comment-author:hover {
    color: #8e44ad;
}

.post-comments .username, 
.post-comments .reply-to {
    font-size: 14px;
    line-height: 21px;
}

.post-comments .date {
    font-size: 12px;
    line-height: 18px;
}

.post-comments .comment-footer {
    display: flex;
    margin-bottom: 10px;
}

.post-comments .comment-footer .like {
    height: 16px;
    display: flex;
    flex-direction: row;
    margin-right: 3px !important;
}


.post-comments .comment-footer .comment-like {
    padding: 0;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.post-comments .comment-footer .comment-like-count {
    /* font-size: 16px; */
    /* height: 16px; */
    margin: 0 5px;
    
}
.post-comments .comment button:disabled {
    opacity: 0.8 !important;
}


.post-comments .comment-footer button {
    border: none;
    appearance: none;
    outline: none;
    background-color: #34495e;
    font-size: 12px;
    line-height: 18px;
    color: white;
    padding: 3px 10px;
    border-radius: 2px;
    font-family: 'Montesserat';
    transition: background-color 0.3s ease;
}

.post-comments .comment-footer button:not(:last-child) {
    margin-right: 5px;
}

.post-comments .reply-form-box form {
    display: flex;
    justify-content: space-between;
    background-color: rgba(236, 240, 241, 0.4);
    border: 1px solid #34495e;
    border-radius: 3px;
    padding: 10px 10px 5px 10px;

}

.post-comments .reply-form-box form .left{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 20px;
}
.post-comments .reply-form-box textarea,
.post-comments .reply-form-box textarea:hover,
.post-comments .reply-form-box textarea:focus {
    appearance: none;
    border: none;
    outline: none;
}

.post-comments .reply-form-box textarea {
    width: 100%;
    font-size: 14px;
    line-height: 21px;
    background-color: transparent;
    flex-grow: 1;
    margin-right: 10px;
    margin-bottom: 5px;
    overflow: hidden;
    resize: none;
}

.post-comments .reply-form-box button[type="submit"] {
    appearance: none;
    border: none;
    outline: none;

    display: block;
    padding: 3px 10px;
    background-color: #34495e;
    font-size: 14px;
    line-height: 21px;
    height: 26px;
    border-radius: 3px;
    color: white;
    font-family: 'Montesserat';
    transition: background-color 0.3s ease;
    
}

.post-comments .reply-form-box button[type="submit"]:hover:not(:disabled) {
    background-color: #3498db;
}

.post-comments .reply-form-box .counter{
    font-size: 12px;
    line-height: 18px;
}
.post-comments .comment-footer button:hover:not(:disabled) {
    border: none;
    appearance: none;
    outline: none;
    background-color: #3498db;
}

.post-comments .replyes {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* padding-top: 5px; */
    /* border: 1px solid #34495e; */
    /* border-radius: 3px; */
    padding-left: 30px;
    /* background-color: rgba(236, 240, 241, 0.9); */
}

.post-comments a.author-link {
    color: #9b59b6;    
    text-decoration: none;
    transition: color 0.2s ease;
}

.post-comments a.author-link:hover {
    color: #8e44ad;
    text-decoration: underline;
}
.post-comments .author {
    font-family: 'Roboto Mono';
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}
.post-comments .date {
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 10px;
}
    
.post-comments .text {
    font-size: 14px;
    line-height: 21px;
    word-wrap: break-word;
    white-space: pre-wrap;
    align-self: stretch;
    width: 100%;
    overflow: hidden;
    text-overflow: clip;
    margin-bottom: 10px;
}

.post-comments .comment.reply {
    border: 0.5px solid #34495e;
    border-radius: 2px;
    padding: 10px 20px;
}

.post-comments .comment.reply .reply-to {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
}

.post-comments .comment.reply .reply-to .author-link {
    font-family: 'Roboto Mono';
    color: #95a5a6
}

.post-comments .comment.reply .reply-to .author-link:hover {
    color: #7f8c8d
}

@keyframes blink {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        transform: translateX(10px);
    }
    80% {
        transform: translateX(8px);
    }
    90% {
        transform: translateX(-8px);
    }
    20% { 
        border-color: #e74c3c;
        left: 20px;
    }
    60% {
        left: -20px;
        border-color: #e74c3c;
    }
    100% {
        border-color: #34495e;  
        left: 0;
    }
}
.post-comments .comment:target {
    animation: blink 5s;
}
.post-comments .comment.reply:not(:last-child) {
    margin-bottom: 10px;
}
