input:focus, input:hover{
    outline: 0;
}

body {
    display: flex;
    justify-content: center;
    color: #2c3e50;
    font-family: "Montserrat";
}

.box {
    margin: 100px 30px 30px 30px;
    width: 300px;
    padding: 30px;
    border: #34495e solid 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.loginpage {
    margin-top: 150px;
}

a {
    color: #2c3e50;
    text-decoration: none; 
}

.logo {
    font-size: 22px;
    margin-bottom: 20px;
    width: 30px;
    color: #34495e;
    transition: color 0.3s ease-in-out;
}

.logo:hover {
    color: #3498db;
}

.login, 
.signup {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-weight: 500;
}
   
.error {
    display: block;
    color: #e74c3c;
    border: #e74c3c solid 2px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 21px;
    margin: 20px 0;
    padding: 10px 15px;
    min-height: 20px;
    display: flex;
    align-items: center;
}

form {
    align-self: stretch;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.field {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    /* height: 70px; */
    margin-bottom: 24px;
}

.field .error {
    margin-top: 30px;
    margin-bottom: 0;
}
label {
    display: block;
    cursor: pointer;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
    height: 24px;
    color: #2c3e50;
    font-weight: 400;
    align-self: flex-start;
}

input[type="text"], 
input[type="email"],
input[type="password"] {
    box-sizing: border-box;
    border: 2px solid #34495e;
    border-radius: 6px;
    height: 20px;
    font-family: 'Monteserrat';
    font-size: 16px;
    line-height: 20px;
    color:#2c3e50;
    padding: 20px 10px;
}

input {
    transition: background-color 0.3s, border-color 0.3s ease-in-out;
}

input:hover,
input:active, 
input:focus {
    border-color: #3498db;
}

.loginpage .field:nth-child(4), 
.registerpage .field:nth-child(8) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 5px 0;
    height: 26px;
}

#remember  {
    background: transparent;
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid #34495e;
    border-radius: 3px;
    transition: transform 0.3s ease-in, border 0.2s ease-in;
    outline: none;
}

#remember:hover, 
#remember:hover:checked {
    border-color: #3498db;
}

#remember:checked {
    transform: rotate(225deg);
    border-right: none;
    border-bottom: none;
    border-color: #2c3e50;
    width: 12px;
    height: 18px;
}

input[type="submit"] {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #34495e;
    background-color: #34495e;
    color: white;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 30px;
}

input[type="submit"]:hover,
input[type="submit"]:active {
    background-color: #3498db;
    border-color: #3498db;
}

.licence {
    margin: 10px 0;
    font-size: 14px;
    line-height: 21px;
}

.licence a {
    color: #2c3e50;
    text-decoration: underline;
    transition: color 0.3s ease-in-out;
}

.licence a:hover {
    color: #3498db;
}

.redirect {
    /* width: 276px; */
    margin-top: 20px;
    height: 16px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid #34495e;
    border-radius: 5px;
    transition: color 0.3s, border-color 0.3s ease-in-out;
}


.redirect:hover {
    border-color: #3498db;
    color: #3498db;
}