<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/css//reset.css">
    <link rel="stylesheet" href="../static/css/font.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>
<body>
<div class="footer-box">
<div class="footer">
    <div class="logo">aison</div>
    <div class="box">
        <div class="contacts col">
            <h3>Contacts</h3>
            <ul>
                <li>
                    <h4>Telegram</h4>
                    <p><a href="https://t.me/adam_ozgary">@adam_ozgary</a></p>
                </li>
                <li>
                    <h4>E-mail</h4>
                    <p>adamhagarov@gmail.com</p>
                </li>
            </ul>
        </div>
        <div class="report col">
            <h3>Bug report</h3>
            <p> Please fill out the special form <a href="{{ url_for('bug_report') }}">special form</a></p>
        </div>
    </div>
</div>
</div>
</body>
</html>