<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/font.css">
    <link rel="stylesheet" href="../static/css/header.css">
</head>
<body>
<div class="header-box" id="header-box">
<div class="header">
    <div class="logo" id="logo">
        <a href="{{ url_for('main') }}"><div>
            aison
        </div></a>  
    </div>
    <div class="profile">
        {% if current_user.is_authenticated %}
        <div id="header-menu">
            <div id="username"></div>
            <div id="menu">
                <a href="{{ url_for('get_my_page') }}"><div>My page</div></a>
                <a href="{{ url_for('get_my_posts') }}"><div>My posts</div></a>
                <a href="{{ url_for('logout') }}"><div>Sign Out</div></a>
            </div>
        </div>
        <script src="../static/js/header.js"></script>
        {% else %}
        <div class="login">
            <a href="{{ url_for('login') }}"><div>
                Log In
            </div></a>
        </div>
        <div class="signup">
            <a href="{{ url_for('register') }}"><div>
                Sign Up
            </div></a>
        </div>
        {% endif %}
    </div>
</div>
</div>
</body>
</html>
