<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/css/font.css">
    <link rel="stylesheet" href="../static/css/header.css">
</head>
<body>
<div class="header-box" id="header-box">
<div class="header">
    <div class="logo" id="logo">
        <a href="{{ url_for('main') }}"><div>
            aison
        </div></a>  
    </div>
    <div class="profile">
        {% if current_user.is_authenticated %}
        <div id="header-menu">
            <div id="username"></div>
            <div id="menu">
                <a href="{{ url_for('get_my_page') }}"><div class="btn">My page</div></a>
                <a href="{{ url_for('get_my_posts') }}"><div class="btn">My posts</div></a>
                <a href="{{ url_for('logout') }}"><div class="btn">Sign Out</div></a>
                {% if is_admin() %}
                <a href="{{ url_for('admin') }}"><div class="btn">Admin page</div></a>
                {% endif %}
            </div>
        </div>
        <script src="../static/js/headerMenu.js"></script>
        {% else %}
        <div class="login sign">
            <a href="{{ url_for('login') }}"><div>
                Log In
            </div></a>
        </div>
        <div class="signup sign">
            <a href="{{ url_for('register') }}"><div>
                Sign Up
            </div></a>
        </div>
        {% endif %}
    </div>
    
</div>
</div>
<script src="../static/js/header.js"></script>
</body>
</html>
