<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/font.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/post.css">
    <title>Posts</title>
</head>
<body>
    <header>
        {% include "header.html" %}
    </header>
    <main>
    {% for message in get_flashed_messages(with_categories=false) %}
    <div id="flash-message">
        <div class="flash-box">
            {{ message }} 
            <button id="flash-close">X</button>
        </div>  
    </div>
    <script src="../static/js/closeFlash.js"></script>
    {% endfor %}
    <div class="main">
        <div class="add-post"><a href="{{ url_for('new_post') }}"><div>Add Post</div></a></div>
        <form id="post-search">
            <div id="category-select">
                <div class="checked-field">All categories</div>
                <div class="options">
                    <div class="option">
                        <input type="radio" id="all" class="opt" name="opt" checked>
                        <label for="all"><div>All categories</div></label>
                    </div>
                    {% for option in options %}
                    <div class="option">
                        <input type="radio" id="{{ option['key'] }}" class="opt" name="opt">
                        <label for="{{ option['key'] }}"><div>{{ option['value'] }}</div></label>
                    </div>
                    {% endfor %}
                </div>   
            </div>
            <input type="text" name="search" id="search" placeholder="#tag or name ..." autocomplete="off">
        </form>
        <div class="posts">    
            <template>
                {% include "prev-post-template.html" %}
                <div class="post not-found"></div>
            </template>
        </div>
    </div>
    </main>
    <footer>{% include "footer.html" %}</footer>
    <script src="../static/js/main.js"></script>
</body>
</html>