<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/font.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    <title>aison</title>
</head>
<body>
    <header>
        {% include "header.html" %}
    </header>
    <main>
    <div class="main">
        <div class="add-post"><a href="{{ url_for('new_post') }}"><div>Add Post</div></a></div>
        <form id="post-search">
            <select name="category" id="category">
                <option value="all">All categories</option>
                {% for option in options %}
                <option value="{{ option[0] }}">{{ option[1] }}</option>
                {% endfor %}
            </select>
            <input type="text" name="search" id="search" placeholder="#tag or name ...">
        </form>
        <div class="posts">
            <template id="sorry-temlpate">
                <div class="post">
                    ...Nothing was found at your request
                </div>
            </template>      
            <template id="post-template">
                <div class="post">
                    <div class="title"></div>
                    <div class="date"></div>
                    <div class="content"></div>
                </div>
            </template>
        </div>
    </div>
    </main>
    <footer></footer>
    <script src="../static/js/getPost.js"></script>
</body>
</html>