<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/font.css">
    <link rel="stylesheet" href="../static/css/new-post.css">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    <title>New Post</title>
</head>
<body>
    <main>
        <div class="main">
            <a href="{{ url_for('main') }}"><div class="logo">aison</div></a>
            <h1>New post</h1>
            {% for category, message in  get_flashed_messages(with_categories=true) %}
            <div class="error">{{ message }}</div>
            {% endfor %}
            <form action="" method="POST">
                {{ form.csrf_token() }}
                {% for field in form if field.name != "csrf_token" %}
                <div class='field'>
                    {{ field.label()}}
                    {{ field() }}
                    {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                    {% endfor %}  
                </div>
                {% endfor %}     
            </form>
        </div>
    </main>
    <script src="../static/js/newPost.js"></script>
</body>
</html>