<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/font.css">
    <link rel="stylesheet" href="../static/css/sign.css">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    <title>Sign Up</title>
</head>
<body>
    <div class="box registerpage">
        <a href="{{ url_for('main') }}"><div class="logo">aison</div></a>
        <div class="signup">Sign Up</div>
        {% for message in get_flashed_messages(with_categories=false) %}
        <div class="error">{{ message }}</div>
        {% endfor %}
        <form action='' method="POST">
            {{ form.csrf_token() }}
            {% for field in form if field.name != "csrf_token" %}
            <div class='field'>
                {{ field.label() }}
                {{ field() }}
                    {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                    {% endfor %}  
            </div>
            {% endfor %}
            <div class="field">
                <input type="submit" value="Sign up">
            </div>
        </form>
        <!-- <div class="line"></div> -->
        <div class="licence">When you click the Sign Up button you automatically agree to the terms of the <a href="{{ url_for('licence') }}">licence agreement</a>.</div>
        <div class="iine"></div>
        <a href="{{ url_for('login') }}"><div class="redirect">Log In</div></a>
    </div>
</body>
</html>