<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    {% for category, message in  get_flashed_messages(with_categories=true) %}
	<spam class="{{ category }}">{{ message }}</spam>
    {% endfor %}
    <form action='' method="POST">
        {{ form.csrf_token() }}

        {% for field in form if field.name != "csrf_token" %}
        <div class='field'>
            {{ field.label() }}
            {{ field() }}
                {% for error in field.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}  
        </div>
        {% endfor %}
    </form>
    <p class="licence">When you click the Sign Up button you automatically agree to the terms of the <a href="{{ url_for('licence') }}">licence agreement</a>.</p>
    <p class="login"><a href="{{ url_for('login') }}"></a></p>
</body>
</html>