<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    {% for category, message in  get_flashed_messages(with_categories=true) %}
	<spam class="{{ category }}">{{ message }}</spam>
    {% endfor %}
    <form action='' method="POST">
        {{ form.csrf_token() }}

        {% for field in form if field.name != "csrf_token" %}
        <div class='field'>
            {{ field }}
                {% for error in field.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}  
        </div>
        {% endfor %}
        <div class="fields">
            <a href="{{ url_for('licence') }}">License agreement</a>
        </div>
        <div class="fields">
            <a href="{{ url_for('login') }}">Sign In</a>
            <input type="submit" value="Sign Up">
        </div>
    </form>
</body>
</html>