<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/font.css">
    <link rel="stylesheet" href="../static/css/sign.css">
    <title>Sign Up</title>
</head>
<body class="reg">
    <div class="form reg">
        <h3>aison</h3>
        <h1>Sign Up</h1>
        <form method="POST">
            <div class="field">
                <input type="text" placeholder="Name">
            </div>
            <div class="field">
                <input type="text" placeholder="Lastname">
            </div>
            <div class="field">
                <input type="text" placeholder="Username">
            </div>
            <div class="field">
                <input type="email" placeholder="Email">
            </div>            
            <div class="field">
                <input type="password" placeholder="Password">
            </div>
            <div class="field">
                <input type="password" placeholder="Password again">
            </div>
            <div class="field remember">
                <label for="remember" class="text">Remember me</label>
                <input type="checkbox" name="remember" id="remember" class="toggle">
            </div>
            <div class="field agree">
                <label for="agree" class="agree-label">
                    
                    <input type="checkbox" name="agree" id="agree">
                    <div class="agree-box">
                        <div class="agree-cube"></div>
                    </div>
                    <span class="agree-text">
                        I agree to the terms of the <a href="http://yandex.ru" target="blank">license agreement</a>
                    </span>
                    
                </label>
            </div>
            <div class="field submit">
                <input type="submit" value="Sign Up">
            </div>
            <div class="field sep"></div>
            <div class="field a">
                <a href="http://yandex.ru"><div class="a-box">
                    <div>Sign In</div>
                </div></a>
            </div>
        </form>
    </div>
</body>
</html>