<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/font.css">
    <link rel="stylesheet" href="../static/css/sign.css">
    <title>Sign In</title>
</head>
<body class="log">
    <div class="form log">
        <h3>aison</h3>
        <h1>Sign In</h1>
        <form method="POST">
            <div class="field">
                <input type="text" placeholder="Username">
            </div>
            <div class="field">
                <input type="password" placeholder="Password">
            </div>
            <div class="field remember">
                <label for="remember" class="text">Remember me</label>
                <input type="checkbox" name="remember" id="remember" class="remember">
            </div>
            <div class="field submit">
                <input type="submit" value="Sign In">
            </div>
            <div class="field sep"></div>
            <div class="field a">
                <a href="http://yandex.ru"><div class="a-box">
                    <div>Sign Up</div>
                </div></a>
            </div>
        </form>
    </div>
</body>
</html>