<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/font.css">
    <link rel="stylesheet" href="../static/css/user-page.css">
    <title>{{ username }}</title>
</head>
<body>
    <header>
        {{ include "header.html" }}
    </header>
    <main>
    <div class="main">
        <div class="user">
            <div class="photo"></div>
            <div class="username"></div>
            <div class="lastname"></div>
        </div>
    </div>
    </main>
    <footer>
        {{ include "footer.html" }}
    </footer>
</body>
</html>